*{
    font-family: 'Mulish', sans-serif;
}


#header{
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}
#header h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    /* font-weight: 700; */
}
#header .brand-name{
color: rgb(85, 204, 252);
}
#header h2{
    font-size: 24px;
}
#header .btn-outline-info{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px ;
    border-radius: 50px;
    transition: 0.5;
    color: rgb(85, 204, 252);
    border: 2px solid rgb(85, 204, 252);
    text-decoration: none;
}
#header .btn-outline-info:hover{
    background-color: rgb(85, 204, 252);
    color: #fff;
}


#header .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10);
    }
}

@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10);
    }
}
.navbar-nav{
    color: black;
    background-color: white;
    margin-left: auto;
}

.navbar a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;

}

.nav-link{
    color: aqua;
    font-weight: 800;
}


.nav-link:hover{
    font-weight: 900;
    border-bottom: red;
}



